* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

// HEADER
@import "componentes/header";

// INDEX
@import "componentes/index";

// ECOMMERCE
@import "componentes/ecommerce";

// CONTACT
@import "componentes/contacto";

// FOOTER
@import "componentes/footer";

@import "componentes/error404";

// PRELOADER
@import "componentes/preloader";
